<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045944414183-clgr6761sjvpsjik3gickm3n116i38cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045944414183-clgr6761sjvpsjik3gickm3n116i38cm</string>
	<key>API_KEY</key>
	<string>AIzaSyBA95Th6qXrRfH4hRUrLmUtgudNm5wakGw</string>
	<key>GCM_SENDER_ID</key>
	<string>1045944414183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-ca96e</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-ca96e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045944414183:ios:229b6a7559371943d31742</string>
</dict>
</plist>